#education {
    width: 60%;
    box-sizing: border-box;
    padding: 1px;
    box-shadow: 0 0 50px #e6e6e6;
    margin: 5% auto;
    text-align: center;
    border-radius: 20px;
    transition: all 0.3s linear;
    direction: rtl;
}

#education p {
    font-size: 2rem;
    margin: 50px 30%;
    text-align: center;
}

#education button {
    margin-bottom: 30px;
}

#education #formWrapper {
    width: 100%;
    padding: 0 100px 32px 100px;
}


#education #formWrapper input {
    margin: 0 auto;
    width: 40%;
    height: 55px;
    display: inline-block;
}

#education #formWrapper input:hover {
    border-color: cornflowerblue;
}

#education #formWrapper select {
    width: 9%;
    height: 40px;
    margin-top: 30px;
}

#education #formWrapper select:hover {
    border-color: cornflowerblue;
}

#education #formWrapper select:focus {
    border-color: cornflowerblue;
}

#education #formWrapper button {
    position: absolute;
    display: inline-block;
    width: 2%;
    height: 40px;
    font-size: 1.5rem;
    margin-right: 15px;
    margin-top: 30px;
}

#education #formWrapper label {
    margin: 0 10px auto;
    font-size: 1.2rem;
}

#education #formWrapper .addedEducationBox {
    width: 80%;
    height: 40px;
    display: inline-block;
    padding: 20px 30px;
    margin: 25px 10px 0px 10px;
    border: 1px solid rgb(255, 102, 102);
    border-radius: 10px;
    box-shadow: 0px 0px 50px #e6e6e6;
}

#education #formWrapper .addedEducationBox .addedEducationText {
    direction: rtl;
    margin: -14px auto 0;
    font-size: 1.3rem;
}

#education #formWrapper .addedEducationBox .deleteIcon {
    color: #000;
    position: absolute;
    margin-top: -38px;
    margin-right: -15px;
    width: 21px;
    height: 21px;
}

#education #formWrapper .addedEducationBox .deleteIcon:before {
    content: '';
    position: absolute;
    top: 10px;
    width: 21px;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#education #formWrapper .addedEducationBox .deleteIcon:after {
    content: '';
    position: absolute;
    top: 10px;
    width: 21px;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

