#button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s linear;
}

button:hover {
    transform:scale(1.1, 1.1);
    box-shadow: 0 0 10px #a6a6a6;
}

button:active {
    border: 0.5px solid rgb(105, 105, 105);
}

